@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  font-weight: 200;
  scroll-behavior: smooth;

  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
}

.ontop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, 0.5);
}

.bg {
  background-image: radial-gradient(
      at 0% 0%,
      rgb(56, 206, 89) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, rgb(190, 43, 43) 0, transparent 50%),
    radial-gradient(at 100% 0%, rgb(44, 84, 216) 0, transparent 50%);
}

main {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.space {
  padding: 0.25rem;
}

.cover {
  position: relative;
  overflow: hidden;
}

.cover::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
}

/* header */

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5rem;
  align-items: center;
}

.navbrand img {
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  align-self: center;
}

.navbrand {
  display: flex;
  justify-content: center;
  align-self: center;
  place-items: center;
}

.navlinks .links {
  display: flex;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

a {
  color: white;
  text-decoration: none;
}

.icon {
  font-size: 20px;
  color: white;
}

.links a:hover {
  text-decoration: none;
  backdrop-filter: blur(50px);
  opacity: 0.5;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.links .icon {
  font-size: 25px;
}

.links a {
  margin-right: 0rem;
  align-items: center;
  padding: 0.5rem;
  text-transform: uppercase;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  visibility: hidden;
}

.menu-bar .bar {
  width: 2rem;
  height: 0.2rem;
  border-radius: 3rem;
  background-color: white;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

.menu-bar .bar:last-child {
  width: 1rem;
}

.navlinks {
  display: flex;
  flex-direction: row-reverse;
}

.navbar {
  display: none;
}

@media screen and (max-width: 1000px) {
  .menu-bar {
    visibility: visible;
  }

  header nav {
    padding: 1rem 2rem;
  }

  .navlinks {
    display: none;
  }

  .links a:hover {
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
  }

  .navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    transform: translateX(100rem);
    -webkit-transform: translateY(100rem);
    -moz-transform: translateX(100rem);
    -ms-transform: translateX(100rem);
    -o-transform: translateX(100rem);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    z-index: 1000;
    background-color: transparent;
  }

  .navbar.open {
    transform: translateY(0rem);
    -webkit-transform: translateY(0rem);
    -moz-transform: translateY(0rem);
    -ms-transform: translateY(0rem);
    -o-transform: translateY(0rem);
  }

  .navbar .links {
    flex-direction: column;
    flex: 60;
    background-color: rgb(26, 24, 24);
    border-radius: 2rem 2rem 0rem 0rem;
    -webkit-border-radius: 2rem 2rem 0rem 0rem;
    -moz-border-radius: 2rem 2rem 0rem 0rem;
    -ms-border-radius: 2rem 2rem 0rem 0rem;
    -o-border-radius: 2rem 2rem 0rem 0rem;
    z-index: 10000;
  }

  .links a {
    font-size: 12px;
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.068); */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .links a .space {
    padding: 1rem;
  }

  .icon {
    font-size: 20px;
  }

  .close-bar {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    flex: 40;
    height: 100%;
    backdrop-filter: blur(5px);
  }

  .links a :is(.space, p) {
    display: initial;
  }
}

/* HERO section */

.hero {
  background-color: rgba(0, 0, 0, 0.459);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(20px);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.hero img {
  margin-right: 5rem;
}

.hero a {
  border: 1px solid whitesmoke;
  padding: 1rem;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  text-align: center;
}

.hero .display {
  /* padding: 3rem; */
  /* text-align: center; */
  height: 100%;
  align-items: center;
  flex-direction: row;
  margin-top: 5rem;
}

.hero .content {
  align-self: center;
}

.hero .img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  /*width: 10rem;
  height: 10rem;
  */
  border: 10px solid white;
}

.hero .img:hover {
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.281);
}

.hero h1 {
  font-size: 70px;
  font-weight: 900;
  text-transform: uppercase;
}

.hero h2 {
  font-weight: 300;
}

.hero .content {
  padding: 5rem;
}

.hero .content button {
  margin-top: 1rem;
  padding: 1rem 3rem;
  border: 1px solid rgba(255, 255, 255, 0.048);
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

button {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.5;
}

.rect {
  position: absolute;
  bottom: -10rem;
  right: -1rem;
  width: 200rem;
  height: 10rem;
  background-color: rgb(15, 14, 14);
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
}

@media screen and (max-width: 1000px) {
  .hero h1 {
    font-size: 25px;
  }

  .hero {
    overflow: visible;
    text-align: center;
  }

  .hero .img {
    display: none;
  }

  .hero .content {
    padding: 3rem 2rem;
  }

  .hero a {
    padding: 1rem;
    font-size: 10px;
    place-items: center;
  }

  .hero .display {
    padding: 0;
  }

  .display .img {
    display: none;
  }

  .rect {
    width: 100rem;
    transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
  }

  .hero .img {
    width: 10rem;
    height: 10rem;
  }

  .hero h2 {
    font-size: 15px;
  }

  .hero p {
    font-size: 12px;
  }

  .experience {
    padding: 2rem 3rem 0 3rem;
  }

  .hero img {
    margin-right: 0rem;
  }
}

.experience {
  padding: 6rem 5rem 0 5rem;
  display: flex;
  flex-direction: column;
}

.experience .note{
  padding: 3rem 0 ;
  text-align: center;
  font-size: 15px;
}

.note a{
  text-decoration: underline;
}

.experience h1,
.projects h1 {
  align-self: center;
  font-weight: 300;
  text-transform: uppercase;
}

*::-webkit-scrollbar {
  display: none;
}

.items-center {
  align-items: center;
}

.dim {
  opacity: 0.5;
}

section {
  border-bottom: 1px solid rgba(10, 10, 10, 0.527);
}

.experiences {
  margin-top: 6rem;
}

.experiences .item .dim {
  margin: 1rem 0;
}

.experiences .num {
  color: white;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  background-color: black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  place-items: center;
}

.experiences .item {
  padding: 3rem;
  border-radius: 1rem 1rem 2rem 1rem;
  background-color: rgb(27, 24, 24);
  -webkit-border-radius: 1rem 1rem 2rem 1rem;
  -moz-border-radius: 1rem 1rem 2rem 1rem;
  -ms-border-radius: 1rem 1rem 2rem 1rem;
  -o-border-radius: 1rem 1rem 2rem 1rem;
  border: 2px solid transparent;
  position: relative;
}

.projects h4 {
  text-align: center;
}

.projects .item {
  border: 2px solid transparent;
}

@media screen and (max-width: 1000px) {
  .experiences .item {
    font-size: 12px;
  }
}

.experience .item:hover,
.projects .item:hover {
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: 2px solid white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
}

.grid-2 {
  display: grid;
  grid-gap: 2rem;
}

.projects {
  display: flex;
  padding: 6rem 5rem 1rem 5rem;
  flex-direction: column;
}

#web .item,
#ml .item {
  height: max-content;
}

#web,
#ml {
  padding: 6rem 0 0 0;
  grid-template-columns: 1fr 1fr;
}

.self-center {
  align-self: center;
}

.projects .item {
  position: relative;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
  background-color: rgb(19, 18, 18);
}

.item .img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  -webkit-border-radius: 1rem 1rem 0 0;
  -moz-border-radius: 1rem 1rem 0 0;
  -ms-border-radius: 1rem 1rem 0 0;
  -o-border-radius: 1rem 1rem 0 0;
  height: 20rem;
}

.item .content .flex-1 {
  display: flex;
  flex-wrap: wrap;
}

.item .content .tag {
  padding: 0rem 1rem 0 0;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  font-size: 12px;
  color: white;
  /* text-decoration: underline; */
  text-transform: uppercase;
}

.item .content {
  /*position: absolute;
  */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.item .actions {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.349);
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  -webkit-border-radius: 0 0 1rem 1rem;
  -moz-border-radius: 0 0 1rem 1rem;
  -ms-border-radius: 0 0 1rem 1rem;
  -o-border-radius: 0 0 1rem 1rem;
  display: flex;
}

.item .data {
  padding: 1rem;
}

.item .content a {
  margin-right: 1rem;
  font-size: 30px;
  display: flex;
  justify-content: flex-start;
  place-items: center;
}

.content a:hover {
  opacity: 0.5;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}

footer {
  background-color: rgba(22, 20, 20, 0);
  padding: 6rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.full-width {
  width: 100%;
}

footer h1 {
  font-weight: 300;
}

.socials a {
  font-size: 20px;
  margin-right: 1rem;
  padding: 1rem;
  background-color: rgb(22, 21, 21);
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.aboutme,
.contact,
.socials {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

footer a, footer p{
  opacity: .6;
}

a:hover {
  opacity: 0.3;
}

@media screen and (max-width: 1000px) {
  .item .img {
    width: 100%;
    height: max-content;
  }

  #web,
  #ml {
    grid-template-columns: 1fr;
  }

  .socials a {
    font-size: 25px;
    padding: 0.5rem;
  }

  .contact a {
    font-size: 13px;
  }

  .aboutme p {
    font-size: 12px;
  }

  footer {
    padding: 3rem 2rem;
    grid-template-columns: 1fr;
  }

  footer h1 {
    font-size: 20px;
  }
  .experience {
    padding: 6rem 2rem 0rem 2rem;
  }

  .experiences .item {
    padding: 1rem;
  }

  .copy {
    font-size: 15px;
    text-transform: capitalize;
  }

  .grid-1 {
    grid-template-columns: 1fr 1fr;
  }

  .projects {
    padding: 6rem 2rem 2rem 2rem;
  }

  .item .content .flex-1 {
    display: flex;
    flex-direction: column;
  }

  .item .content .tag {
    padding: 1rem 0rem 0 0;
    font-size: 10px;
    flex-direction: column;
  }

  .item .content h1 {
    font-size: 20px;
  }

  .item .content a {
    font-size: 25px;
  }
}
